<div class="container-fluid">
  <header>
    <h1>< Archivo / Memoria ></h1>
  </header>
  <div class="row top-search">
    <div class="col-md-offset-1 col-md-10">
      <h3>
        Buscar por 
        <div class="ci-dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" ng-click="dropdownToggle();" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
            {{options.filter}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-click="selectFilter('nombre')"><a href="#">nombre</a></li>
            <li ng-click="selectFilter('genero')"><a href="#">genero</a></li>
            <li ng-click="selectFilter('fecha')"><a href="#">fecha</a></li>
            <li ng-click="selectFilter('localidad')"><a href="#">localidad</a></li>
          </ul>
        </div>
      </h3>
      <tagger tags="tags" options="optionsData[options.filter]">
    </div>

    <div class="col-md-12 results" ng-if="tags.length > 0">
      <p>
        <span class="victimas">{{data.victimas}}</span>
        victimas con esos filtros
      </p>
    </div>
  </div>
  
  <div class="row results">
      <div ng-class="resultClass" class="result-item" ng-if="listado.length == 0">
        <a href="#" style="background: transparent url(../resources/images/empty.png) 0 0 no-repeat; background-size: cover;">
        NO RESULTS
        </a>
      </div>
      <div ng-class="resultClass" class="result-item {{result.active}}" ng-click="showActive(result);" ng-repeat="result in listadoFiltrado">
        <a href="#" style="background: transparent url({{result.imagen}}) 0 0 no-repeat; background-size: cover;">
        {{result.nombre}}, {{result.apellido}}
        </a>
      </div>
  </div>
  
</div>