<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Buscar por 
        <div class="ci-dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" ng-click="dropdownToggle();" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
            {{options.filter}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-click="selectFilter('nombre')"><a href="#">nombre</a></li>
            <li ng-click="selectFilter('genero')"><a href="#">genero</a></li>
            <li ng-click="selectFilter('fecha')"><a href="#">fecha</a></li>
            <li ng-click="selectFilter('edad')"><a href="#">edad</a></li>
          </ul>
        </div>
      </h3>
      <tagger options="optionsData[options.filter]" tags="tags">
    </div>
    <div class="col-md-12 results">
      <p>
        <span class="victimas">{{data.victimas}}</span>
        victimas con esos filtros
      </p>
    </div>
  </div>
  
  <div class="row results">
      <div class="col-md-2 result-item">
        <a href="#" style="background: transparent url(../resources/images/1.png) 0 0 no-repeat; background-size: cover;">
        Lucas Muños
        </a>
      </div>
      <div class="col-md-2 result-item">
        <a href="#" style="background: transparent url(../resources/images/2.png) 0 0 no-repeat; background-size: cover;">
        Lucas Muños
        </a>
      </div>
      <div class="col-md-2 result-item">
        <a href="#" style="background: transparent url(../resources/images/3.png) 0 0 no-repeat; background-size: cover;">
        Lucas Muños
        </a>
      </div>
      <div class="col-md-2 result-item">
        <a href="#" style="background: transparent url(../resources/images/4.png) 0 0 no-repeat; background-size: cover;">
        Lucas Muños
        </a>
        
      </div>
      <div class="col-md-2 result-item">
        <a href="#" style="background: transparent url(../resources/images/2.png) 0 0 no-repeat; background-size: cover;">
        Lucas Muños
        </a>
      </div>
      <div class="col-md-2 result-item">
        <a href="#" style="background: transparent url(../resources/images/1.png) 0 0 no-repeat; background-size: cover;">
        Lucas Muños
        </a>
      </div>
  </div>
  
</div>